<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<connectionStrings>
		<add name="legadoContext" connectionString="SERVER = 10.2.0.8; NAMESPACE = classven; port=1972; METADATAFORMAT = mssql; USER = hugo.vettorello; password = hoN@0312; LOGFILE = C:\\Users\\Public\\logs\\cprovider.log; SQLDIALECT = cache;" providerName="InterSystems.Data.CacheClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>